@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@layer components {
  .input-wrapper {
    @apply relative;
  }

  .form-input {
    @apply border border-slate-300 rounded p-[14px] w-full transition-all outline-offset-0 text-sm hover:border-lime
    focus:outline-none focus:border-slate-700 focus:ring-1 focus:ring-slate-700;
  }

  .form-label {
    @apply block text-slate-700 text-fluid-sm mb-[10px];
  }

  .option-label {
    @apply text-base border border-slate-300 p-3 flex items-center gap-5 transition-all text-slate-700 font-bold rounded has-[:checked]:bg-lime/30 has-[:checked]:border-lime hover:border-lime
    focus-within:outline focus-within:outline-2 focus-within:outline-slate-700;
  }

  .form-radio {
    @apply box-content h-1.5 w-1.5 appearance-none rounded-full border-[5px] border-white bg-white
     bg-clip-padding outline-none ring-1 ring-slate-700 checked:border-lime checked:ring-lime;
  }

  .input-wrapper::before {
    @apply absolute bg-slate-100 min-w-[44px] h-[48px] top-[35px] bottom-0 text-base text-slate-700 flex justify-center items-center;
  }

  .form-error {
    @apply text-red text-fluid-xs block h-5 ;
  }

  .input-wrapper-before-error {
    @apply bg-red text-white;
  }
}

label:has(input[type="radio"]):focus {
  outline: auto;
}