@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@layer components {
  .form-input {
    @apply relative border border-slate-300 rounded p-[14px] pl-14 w-full transition-all outline-offset-0 text-sm hover:border-lime;
  }
  .form-label {
    @apply block text-slate-500 text-fluid-sm mb-3;
  }
  .option-label {
    @apply border border-slate-300 p-4 flex items-center gap-5 transition-all text-slate-700 font-bold rounded has-[:checked]:bg-lime/30 has-[:checked]:border-lime hover:border-lime;
  }
  .form-radio {
    @apply box-content h-1.5 w-1.5 appearance-none rounded-full border-[5px] border-white bg-white
     bg-clip-padding outline-none ring-1 ring-slate-700 checked:border-lime checked:ring-lime;
  }
}
